<div class="register-container">
    <div class="register-header">
      <h2>Register</h2>
    </div>
    <div class="register-body">
      <form (ngSubmit)="register()">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username" required>
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" required>
        </div>
        <button name="registerButton" class="btn btn-primary" (click)="register()">Register</button>
      </form>
    </div>
    <div class="register-footer">
      <p>Already have an account? <a routerLink="/login">Login here</a></p>
    </div>
  </div>
