<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Client app</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/portfolios">Portfolios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/project-tasks">Project Tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/schedule-meeting">Schedule Meeting</a>
      </li>
    </ul>
  </div>
</nav>


  <router-outlet></router-outlet>
